.s-hero {
    padding-top: 16.4rem;
    padding-bottom: 10.347rem;

    background-image: url("../img/bg-hero.jpg");
    background-position: center center; //manter a imagem centralizada
    background-repeat: no-repeat;

    height: 80rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .left {
            width: 100%;
            max-width: 77.2rem;

            h1 {
                margin-top: 2.4rem;
                margin-bottom: 1.8rem;

            }

            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 140%;
                color: #FFFFFF;
                margin-bottom: 4rem;
            }

            .value {
                display: flex;
                align-items: center;

                strong {
                    background-color: #FFFFFF;
                    padding: 1.8rem 3.6rem;

                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.2rem;
                    color: #000000;
                }

                a {
                    display: block;
                    padding: 1.8rem 3.6rem;

                    background: #3265EA;

                    font-weight: 700;
                    font-size: 20px;
                    line-height: 22px;
                    color: white;
                    
                }
            }

        }

        .right {
            position: relative;
            top: 9.7rem;
            width: 100%;
            max-width: 44.3rem;
            
            span {
                display: block;

                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2rem;

                margin-bottom: 2.35rem;
            }

            button {
                position: relative;
                width: 100%;
                height: 24.7rem;

                border: 0.2rem solid #3265EA;
                box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                overflow: hidden;

                margin-bottom: 5.151rem;

                .thumbnail {
                    width: 100%;
                }

                .play {
                    position: absolute;
                    bottom: 2.518rem;
                    left: 3.205rem;
                }
            }

            .year-old {
                display: flex;
                align-items: center;

                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.7rem;

                    color: #FFFFFF;

                    margin-left: 1.488rem;

                    width: 100%;
                    max-width: 27.4rem;
                }
            }
        }
    }

    
}

.s-info-geral {
    width: 100%;
    height: 18rem;

    display: flex;
    align-items: center;

    .container {
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6rem;

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 160%;

                    color: #BDC2CB;
                }

                
            }
        }
        
    }
}

.s-story {
    width: 100%;

    padding-top: 16rem;
    padding-bottom: 8rem;

    background-image: url(../img/bg-story.png);
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .kratos-atreus {
            width: 100%;
            max-width: 76.3rem;

            position: relative;
            left: 11.3rem;
            top: -4.7rem;
        }



        .left {
            width: 100%;
            max-width: 62.9rem;
    
            h2 {
                margin-top: 2.8rem;
                margin-bottom: 2.4rem;
    
                max-width: 48.5rem;
            }
    
            p {
                margin-bottom: 5.6rem;
            }
    
            .corp {
                display: flex;
                align-items: center;
                gap: 4.6rem;
    
                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 160%;
                    color: #FFFFFF;
    
                    max-width: 32.4rem;
    
                    margin-bottom: 0;
    
                }
            }
        }
    }

    
}

.s-characteres {
    height: 138.8rem;

    padding-top: 17.6rem;
    padding-bottom: 14.3rem;

    background-image: url(../img/bg-characters.png);
    background-position: center center;
    background-repeat: no-repeat;

    .container {
        .description {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            width: 100%;
            
            .left {
                width: 100%;
                max-width: 61.2rem;
    
    
                h2 {
                    margin-top: 2.8rem;
                    margin-bottom: 2.4rem;
                }
    
                p {
                    max-width: 57.8rem;
                }
    
            }

            .right {
                display: flex;
                align-items: center;

                .text {


                    span {
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 140%;

                        margin-top: 2.2rem;

                        display: block;
                    }
                }
            }
        }
        
    }
}